{% extends "base.html" %}
{% block title %}Wineata - {{_('Wine atlas')}}{% endblock %}
{% block active_wineata %} active" aria-current="page"{% endblock %}
{% block content %}
<div class="col">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917597.515421893!2d14.163728699988782!3d44.42872465157393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133441080add95ed%3A0xa0f3c024e1661b7f!2sCroatia!5e0!3m2!1sen!2shr!4v1647445677356!5m2!1sen!2shr" height="100%" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
{% endblock %}